<h1>Hello there!</h1>

<form action='/name' method='post'>
  <label for="name">What's your name?</label>
  <input type="text" name="name">
  <label>
    When's your birthday?
    <label for="day">day:</label>
    <input type="number" id="day" name="day">
    <label for="month">month:</label>
    <input type="number" id="month" name="month">
  </label>
  <input type="submit" value="Go!">
</form>
